
#navbar {
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-between;
    align-items: baseline;
    height: 2em;

    color:white;
    background-color: hsl(200, 100%, 40%);
    position: fixed;
    top: 0;
    width: 94%;
}

@media only screen and (min-width: 801px) {
    #navbar {
        padding: 0.5%;
        width: 99%;
    }
}

.navbar-item {
    white-space: nowrap;
    margin: 4px;
    align-self: center;
}

#navbar-left, #navbar-right {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    #navbar-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbar-greeting {
        display: none;
    }
}

button.navbar-item {
    align-self: stretch;
    border-radius: 0;
    margin: 0em;
    padding: 1.5em 3em;
    border: 0.1em solid;
    border-color: hsl(200, 100%, 50%);
    background-color: hsl(200, 100%, 95%);
    color: hsl(200, 100%, 20%);
}

button.navbar-item:hover {
    background-color: hsl(200, 100%, 75%);
}

button.navbar-item:active {
    background-color: hsl(200, 100%, 85%);
}

#navbar-title {
    padding-right: 2vw;
    padding-left: 1vw;
    cursor: default;
}

#navbar-search {
    max-width: fit-content;
    padding: 1vh 1vw;
}
