
#navbar {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: baseline;
    height: 30px;

    background-color: black;
    color:white;

}

.navbar-item {
    white-space: nowrap;
    margin: 4px;
    align-self: center;
}

#navbar-left, #navbar-right {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    #navbar-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbar-greeting {
        display: none;
    }
}

button.navbar-item {
    background-color: hsl(0, 0%, 25%);
    color: white;
    border: none;
    padding: 0.5vh 2vw;
    border-radius: 5px;
    align-self: stretch;
}
button.navbar-item:hover {
    background-color: hsl(0, 0%, 50%);
}

button.navbar-item:active {
    background-color: hsl(0, 0%, 70%);
}

#navbar-title {
    padding-right: 2vw;
    padding-left: 1vw;
    cursor: default;
}

#navbar-search {
    max-width: fit-content;
    padding: 1vh 1vw;
}
