.postreader h1 {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.postreader {
    padding: 1em;
    padding-top: 0.25em;
}

.post-reader-content {
    line-height: 2;
}

.post-reader-content pre.ql-syntax {
    white-space: pre-wrap;
    padding: 5px;
}
.post-reader-content code {
    padding: 0 5px;
}

.post-reader-content blockquote {
    background-color: hsl(0, 0%, 95%);
    width: fit-content;

    /* Left indent + border */
    padding: 0.1em;
    padding-left: 2em;
    border-left: 0.25em solid hsl(0, 0%, 75%);
}

.post-reader-authorcontrols > button {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

@media only screen and (min-width: 801px) {
    /* Desktop View */
    .postreader {
        margin: 2em 20%;
    }
}
