
.post-title {
    background-color: hsl(0, 0%, 80%);
    padding: 10px;
}

.post-content {
    /* Limit line count with this: https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

article.post-unlisted {
    opacity: 0.2;
    transition: opacity 0.5s;
}

article.post-unlisted:hover {
    opacity: 1;
}

article.post-drafts {
    background-color: hsl(0, 75%, 95%);
    color: hsl(0, 75%, 50%);
}

article.post-drafts:hover {
    background-color: hsl(0, 75%, 90%);
    color: hsl(0, 75%, 40%);
}

.post:hover {
    background-color: hsl(200, 40%, 90%);
    color: hsl(200, 100%, 20%);
}

.post:active {
    background-color: hsl(200, 40%, 95%);
    color: hsl(200, 100%, 25%);
}
